body{
    background-color: black;
    padding: 0px;
    font-family: Uncut;
}


.l{
    display: none;
}

@font-face {
    font-family: Uncut;
    src: url(../assets/UncutSans-Semibold.woff2);
}

h1{
    font-size: 40px;
    color:rgb(253, 181, 48);
    margin-bottom: 5px;
    margin-right: 0px;
    width: 350px;
    margin-left: 20px;
}

#leiste{
    display: flex;
    flex-direction:row;
    background-color: rgb(27, 27, 31);
    position: fixed;
    top: 0px;
    width: 1910px;
    z-index: 30;
}

#user-icon{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    width:70px;
    height:70px;
}

p{
    color:rgb(253, 181, 48);
    font-size: 25px;
    text-decoration: none;
    margin: 0px;
    margin-left: 20px;
}




a,
a:visited,
a:hover,
a:active {
  color:rgb(253, 181, 48);
  font-size: 35px;
  text-decoration: none;

}



.profilepic{
width: 80px;
height: 80px;
border-radius: 40px;
margin-top: 0px;
}

#BarBottom{
    width: 1910px;
    height: 80px;
    top: 867px;
    background-color: rgb(27, 27, 31);
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: fixed;
    z-index: 10;
}

.LinkBottom{
    margin-left: 400px;
    margin-top: 35px;
}

.InfoH1{
    margin-top: 100px;
    margin-bottom: 25px;
    color: white;
}

.Card, .Pack{
    width: 250px;
    height: 350px;
    position: relative;
    z-index: 0;
    
}

.Pack{
  margin-bottom: 0px;  
}

.CardImg{
    width: 210px;
    height: 295px;
    margin: 20px;
    margin-bottom: 0px;
    position: relative;
    z-index: 0;
}



.Card::before{
    position: absolute;
    content: attr(data-before);
    font-size: 25px;
    background-color: rgb(253, 181, 48);
    color: black;
    width: min-content;
    height: min-content;
    padding: 10.5px;
    padding-left: 17.8px ;
    padding-right: 17.8px ;
    border-radius: 50px;
    bottom: 290px;
    left: 195px;
    top:0px;
    right: 0px;
    z-index: 5;
}
.Pack::before{
    position: absolute;
    content: attr(data-prize);
    font-size: 25px;
    background-color: rgb(253, 181, 48);
    color: black;
    width: min-content;
    height: min-content;
    padding: 10.5px;
    padding-left: 17.8px ;
    padding-right: 17.8px ;
    border-radius: 50px;
    bottom: 290px;
    left: 195px;
    top:0px;
    right: 0px;
    z-index: 5;
}

#viewCard{
    width: 750px;
    height: 910px;
    position: fixed;
    z-index: 25;
    top: 30px;
    left: 550px
}

#CardBig{
    width: 550px;
    height: 805px;
    margin-left: 100px;
    margin-top: 50px;
    border: 0px;
    z-index: 40;
}

#esc{
    width: 50px;
    height: 50px;
    margin: 0px;
    bottom: 0px;
    top: 20px; 
    left: 1220px;
    right: 0px;
    color: white;
    font-size: 50px;
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.SellButton{
  width:155px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  background-color: orange;
  margin-left: 100px;
  cursor: pointer;
  margin-top: 5px;
  font-family: Uncut;
  font-size: 20px;
}

.blurry{
    width: 1920px;
    height: 1050px;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 35;
}

#MyCards, #Cardpacks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#MyCards{
    margin-bottom: 100px;   
}

.flex{
 display: flex;
 flex-direction: row;   
}

.Arrow{
   rotate: -90deg;
   color: gray;
}

.PackInfo{
    color: gray;
    font-size: 23px;
    
}

.CardNameSmall{
    color: gray;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    
}



.MakeOffer{
    width: 700px;
    height: 400px;
    background-color:rgb(27, 27, 31);
    position: fixed;
    top: 150px;
    left: 650px;
    border-radius: 20px;
}

#escape{
    font-size: 55px;
    color: white;
    margin-left: 650px;
    margin-top: 0px;
    cursor: pointer;
}

.Offertxt{
    margin-left: 15px;
    color: white;
    width: max-content;
}

#Offerh1{
    margin-left: 250px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#Anzahl{
    width: 250px;
    color:rgb(253, 181, 48);
    margin-left: 20px;
    height: 40px;
    margin-top: 33px;
}

#rangeInfo{
  color: white;
  margin-top: 39px;

}

#Price{
    height: 20px;
    width: 100px;
    margin-top: 45px;
    margin-left: 20px;
    border-radius: 5px;
    border: 0px;
}


#Confirm, .Confirm{
  width:200px;
  height: 40px;
  border-radius: 5px;
  background-color: orange;
  margin-left: 250px;
  cursor: pointer;
  margin-top: 40px; 
  font-size: 20px;
  font-family: Uncut;
  border: 0px;
}


#Mecker{
    color:red;
    margin-left: 10px;
    font-size: 20px;
    margin-bottom: 0px;
}

#Tries{
    color: white;
    margin-left: 750px;
    margin-top: 20px;
    font-size: 35px;
    width: max-content;
    height: max-content;
}


#Offers, #MyOffers{
    display: flex;
    flex-direction: row;
}

#Offers{
    margin-bottom: 100px;
}


.Offer{
    display: flex;
    flex-direction: row;
    max-width: min-content;
    margin-right: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 20px;
}

.OfferUser{
    display: flex;
    flex-direction: row;
    background-color:rgb(27, 27, 31);
    padding: 10px;
    width: max-content;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 35px;

}

.OfferProfilePic{
    width:  40px;
    height: 40px;
    margin-left: 15px;
}

.OfferUserName{
    margin-top: 9.5px;
    margin-left: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}



.OfferPrice{
    font-size: 35px;
    margin-top: 35px;
    margin-left: 85px;
    color: white;
    width: max-content;
}

.Confirm{
    margin-left: 15px;
    margin-top: 35px;
}

.OfferName{
    color: white;
    width: max-content;
}

.OfferLeft{
    position: relative;
}

.OfferLeft::before{
    position: absolute;
    content: attr(amount);
    font-size: 28px;
    background-color: rgb(253, 181, 48);
    color: black;
    width: min-content;
    height: min-content;
    padding: 10.5px;
    padding-left: 18.61px ;
    padding-right: 18.61px ;
    border-radius: 50px;
    bottom: 292px;
    left: -52px;
    top:0px;
    right: 0px;
    z-index: 15;
}

.Delete{
    background-color: red;
}


#infoBig{
    color: white;
    size: 100px;
    margin-top: 400px;
    margin-left: 900px;
}

#addOffer{
  position: fixed;
  width: max-content;
  height: max-content;
  border-radius: 50px;
  background-color: orange;
  left: 1700px;
  cursor: pointer;
  top: 750px; 
  font-size: 80px;
  font-family: Uncut;
  border: 0px;  
  z-index: 9;
  padding: 0px;
  padding-left: 23.84px;
  padding-right: 23.84px;
  color: black;

}

#MoneyCount{
    color: rgb(252, 255, 46);
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 0px;
    height: max-content;
    margin-left: 1300px;
}

#MoneyImg{
    width: 40px;
    height: 40px;
    margin-top: 30px;
}

.options{
    display: flex;
    flex-direction: row;
}


.OnlineUser{
    color: white;
    width: 1850px;
    height: 60px;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
}

#Buffer{
    width: 1500px;
    height: 95px;
}

#OlineUserInfoH1{
    color: white;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 45px;
}

.OnlineUserName{
    color: white;
    height: max-content;
    font-size: 30px;
    margin-top: 10px;
    width: 140px;
}


.StartButton{
  width:155px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  background-color: orange;
  margin-left: 1480px;
  cursor: pointer;
  margin-top: 10px;
  font-family: Uncut;
  font-size: 20px;
}



.OnlineUserImg{
    border-radius: 40px;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-top: 5px;

}


#GameMenu{
    background-color: black;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    position: fixed;
    top: 0px;
    z-index: 20;
    display: none;
}

.Text1{
   color: white;
   font-size: 50px;
   margin-left: 573px;
   margin-top: 100px;
}

#Name0{
    margin-left: 300px;
}


#Name1{
    margin-left: 530px;
}


#VS{
    color: orange;
    margin-left: 530px;
}

.BattleCard{
    width: 187,5px;
    height: 250px;
}

#BattleCard01{
    margin-left: 100px;
    width: 210px;
    height: 280px;
}

#BattleCard11{
    width: 210px;
    height: 280px;
}

#BattleCard10{
    margin-left: 100px;
}

#BattleCard12{
    margin-left: 100px;
}

#BattleCards1{
    margin-left: 1325px;
}

button{
  width:155px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  background-color: orange;
  margin-left: 100px;
  cursor: pointer;
  margin-top: 5px;
  font-family: Uncut;
  font-size: 20px;
}

#ReadyButtonContainer{
    position: fixed;
    z-index: 30;
    top: 820px;
    left: 775px;
}

#Kartenauswahl{
     margin-left: 65px;
     font-size: 35px;
     margin-bottom: 5px;
}

#leaveGame{
  margin-left: 0px;
  background-color: rgb(104, 104, 104);
  width: 175px;
  height: 60px;
  font-size: 27px;
}

#ready{
margin-left: 20px;
  width: 175px;
  height: 60px;
  font-size: 27px;
}


#CardRarity{
    color: white;
    font-size: 28px;
    margin: 10px;
    margin-top: 7px;
    margin-left: 180px;
}