@font-face {
            font-family:Sigma;
            src: url("./Nunito-VariableFont_wght.ttf");
        }

        #titelhinterg{
            background-image: url("./299823521_482481820551285_7770620580523725213_n.jpg");
            margin:0px;
            margin-left:200px ;
            border-radius: 10px;
        }
        #titel{
          margin-top: 0px; 
          margin-left: 150px; 
          font-size: 40px;
        }

        html{
            background-color: #263246;
        }

       

        iframe{
            width: 1350px;
            height: 700px;
            border: 0px;
        }

        #logo{
            width: 120px;
            height: 120px;
            position: fixed;
            
        }