body{
    background-color: black;
}

h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(253, 181, 48);
    margin-bottom: 50px;
    margin-right: 0px;
    width: 350px;
    margin-left: 20px;
    margin-top: 10px;
}

#leiste{
    display: flex;
    flex-direction:row;
    background-color: rgb(65, 63, 63);
    position:fixed;
    width: 100%;
    height: 70px;
}

#user-icon{
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    
    width:65px;
    height:65px;
}

#leistecolor{
    background-color: rgb(65, 63, 63);
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 70px;
    margin-top: 0%;
    margin-bottom: 0px;
    position:fixed;
    bottom: 0px;
}

.color{
    height: 40px;
    width: 40px;
    margin:30px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid white;
}



#red{
    margin-left: 300px;
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#pink{

    background-color: pink;
}

#black{
    background-color: black;
}

#white{
    background-color: white;
}

#purple{
    background-color: purple;
}

#brown{

    background-color: brown;
}

#yellow{
    background-color: yellow;
}

#orange{
    background-color: orange;
}

#canvas{
    border: 0px;
    width: 100%;
    height: 900px;
}

#canva{
    width:800px;
    height:800px;
    border: 5px solid white;
    margin:2000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#plus, #minus{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    margin:30px;
    margin-top: 15px;
    border-radius: 20px;
    font-size: 30px;
}

.pixel{
    width: 8px;
    height: 8px;
    background-color: white;
    margin: 0px;
    border: 0px;
}