body{
    background-color: black;
    font-family: Uncut;
}

.l{
    display: none;
}
@font-face {
    font-family: Uncut;
    src: url(../assets/UncutSans-Semibold.woff2);
}

h1{
    font-size: 40px;
    color:rgb(253, 181, 48);
    margin-bottom: 50px;
    margin-right: 0px;
    width: 350px;
    margin-left: 20px;
    margin-top: 10px;
}

#leiste{
    display: flex;
    flex-direction:row;
    background-color: rgb(27, 27, 31);
    position:fixed;
    width: 100%;
    height: 70px;
    bottom: calc(99vh - 70px);
    z-index: 23;
    left: 0px;
}

#user-icon{
    margin-left: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
    width:70px;
    height:70px;
}

#leistecolor{
    background-color: rgba(65, 63, 63, 0.5);
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 70px;
    margin-top: 0%;
    margin-bottom: 0px;
    position:fixed;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.color{
    height: 40px;
    width: 40px;
    margin:20px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}




#canvas{
    border: 0px;
    cursor: crosshair;
    width: 1910px;
    height: 830px;
    background-color: black;
    top: 140px;
}

#canva{
    width:800px;
    height:800px;
    border: 5px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: crosshair;
    margin-left: 560px;
    margin-right: 560px;
    margin-top: 75px;
    margin-bottom: 25px;
    z-index: 0;
}

#plus, #minus{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    margin:30px;
    margin-top: 15px;
    border-radius: 20px;
    font-size: 30px;
}

.pixel{
    width: 8px;
    height: 8px;
    background-color: white;
    margin: 0px;
    border: 0px;
}

#time{
    height: 40px;
    width: 40px;
    margin:30px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
}


a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.profilepic{
width: 80px;
height: 80px;
border-radius: 40px;
margin-top: 0px;
}

#MoneyCount{
    color: rgb(252, 255, 46);
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 0px;
    height: max-content;
    margin-left: 1300px;
}

#MoneyImg{
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 8vw;
        margin: 10px 4vw;
    }

    #user-icon {
        width: 50px;
        height: 50px;
    }

    .color,
    #plus,
    #minus {
        height: 35px;
        width: 35px;
        font-size: 20px;
    }

   

  
}